@font-face {
    font-family: myFont;
    src: url(LEMONMILK-Light.otf);
}

@font-face {
    font-family: myFont2;
    src: url(unige.ttf);
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: rgb(2, 0, 26);
    color: #ffffff;
}

* {
    transition: all .5s ease;
}

.navbar {
    background-color: transparent;
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.nav-items {
    display: flex;
}

.fuck {
    display: block;
    color: #929292;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 25px;
}

.fuck:hover {
    color: #fff;
    text-shadow: 1px 1px 2px rgb(0, 94, 39), 0 0 25px rgb(0, 83, 58), 0 0 5px rgb(255, 255, 255);
}

#home {
    color: #f8852c;
    text-shadow: 0px 0px 15px #f8852c;
}

.name {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 10px;
}

.name h1:hover {
    text-shadow: 1px 1px 20px rgb(6, 94, 94), 0 0 25px rgb(6, 94, 94), 0 0 5px rgb(6, 94, 94);
}

.main {
    justify-content: center;
    color: rgb(255, 255, 255);
    height: auto;
    overflow: auto;
    width: 90%;
    min-width: 80px;
    padding: 20px;
    margin: 20px 0px 30px 10px;
    text-align: center;
}

.quote {
    letter-spacing: -1px;
    font-family: 'Great Vibes', cursive;
    font-family: myFont;
    font-weight: lighter;
    font-size: 25px;
    padding-bottom: 60px;
    animation: contrastAnimation .5s infinite alternate;
}

@keyframes contrastAnimation {
    0% {
        filter: contrast(50%);
    }
    100% {
        text-shadow: 0 0 20px aqua;
    }
}

#in {
    font-family: myFont;
    text-shadow: 1px 1px 2px rgb(27, 255, 255);
    font-size: 25px;
    padding: 0;
}

.bold {
    font-size: 90px;
    display: block;
    margin: 0;
    background-clip: content-box;
    background: linear-gradient(to right, #0c1caa, #f8852c);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: -1px;
}

.bold:hover {
    background-image: linear-gradient(to left, rgb(145, 20, 68), rgb(43, 43, 206));
}

.lines {
    font-family: myFont2;
    display: inline-block;
    border: 3px solid #141527;
    border-radius: 100px;
    margin: 0px;
    padding: 0 20px;
    font-size: 15px;
    letter-spacing: 2px;
}

.lines:hover {
    background-color: #141527;
    color: #f8852c;
}

/* copy this for comment motherfucker */

@media screen and (max-width: 500px) {
    .nav-items {
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-items a {
        width: 100%;
        text-align: right;
        padding: 10px;
    }

    .main {
        width: 100%;
        margin:20px 0 20px 0;
        padding:0;
    }
    .main .quote{
        font-size: 20px;
        padding:10px 0 10px 0;
    }

    .main .bold{
        font-size: 70px;
    }

    .main .lines{
        font-size:12px ;
    }
}


.bottom {
    display: block;
    height: 30vh;
    text-align: center;
    background-color: #141527;
}

.final {
    font-size: 130%;
    position: relative;
    top: 15%;
}
